/* WeatherDashboard.css */
body {
  background: linear-gradient(to bottom, #87ceeb, #1e90ff);
  margin: 0;
  padding: 0;
  height: 100vh; /* Cambia 100% a 100vh para ajustar la altura al 100% del viewport */
  overflow: hidden;
}

.top-panel {
  flex: 1; /* Divide el espacio en partes iguales entre la parte superior e inferior */
  display: flex;
}

.left-panel {
  flex: 1 1;
  padding: 20px;
  position: relative;
  height: 50%; /* Ajusta la altura al 50% de la parte vertical */
}
.right-panel {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 50%; /* Ajusta la altura al 50% de la parte vertical */
}

.top-right {
  flex: 1;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bottom-right {
  flex: 3;
  padding: 20px;

}



.temperature-chart-container {
  display: flex;
  justify-content: center;
  height: 150px;
  background: linear-gradient(to bottom, #FFD700, #FFA500); /* Colores degradados de oro a naranja */
}

.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px; /* Ajusta la altura según tus necesidades */
}

.bar {
  width: 20px;
  background-color: #3498db; /* Cambia el color de las barras según tus preferencias */
  text-align: center;
  padding: 5px 0;
  margin-right: 5px;
  font-size: 12px;
  color: white;
  transition: height 0.3s ease; /* Agrega una animación de transición */
}



.humidity-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr); /* Tres columnas de igual tamaño */
  gap: 10px; /* Espacio entre tarjetas */
  grid-template-rows: repeat(1, auto); /* Dos filas de alto automático */
}

/* Estilos para cada tarjeta de humedad */
.humidity-card {
  border: 1px solid #ccc; /* Borde de 1 píxel de color gris claro */
  padding: 10px; /* Espaciado interno */
  margin: 10px; /* Espaciado externo */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  background-color: #fff; /* Fondo blanco */
}



.clock-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.clock {
  position: relative;
  width: 100%;
  height: 100%;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 0;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.5s ease;
  font-size: 16px;
  font-weight: bold;
}

.temperature-clock {
  text-align: center;
  margin: 20px;
  position: relative; /* Agrega esta línea para controlar la posición del CurrentTemperature */
}



/* Estilos para los valores de temperatura máxima y mínima */
.temperature-min-max-card {
  text-align: center;
  margin: 20px;
}

.temperature-values {
  display: flex;
  justify-content: space-between;
}

/* Estilos base para .max-temperature-card y .min-temperature-card */
.max-temperature-card,
.min-temperature-card {
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .max-temperature-card,
  .min-temperature-card {
    width: 100px; /* Ajusta el tamaño para pantallas más pequeñas si es necesario */
    height: 100px; /* Ajusta el tamaño para pantallas más pequeñas si es necesario */
    font-size: 18px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas si es necesario */
  }
}


.max-temperature-label,
.min-temperature-label {
  font-size: 18px;
}

.max-temperature-value,
.min-temperature-value {
  font-size: 18px;
  font-weight: bold;
}


.temperature-clock {
  text-align: center;
  margin: 20px;
}



.clock {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Agrega bordes redondeados */
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 0;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.5s ease;
  font-size: 16px;
  font-weight: bold;
  background-color: red; /* Agrega color de fondo */
  border-radius: 2px; /* Agrega bordes redondeados a la aguja */
  width: 4px; /* Ancho de la aguja */
  height: 50%; /* Altura de la aguja */
}

.temperature-label {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: bold;
}


.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  transform-origin: center bottom;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}

.hour-hand {
  width: 4px;
  height: 40px;
  z-index: 3;
}

.minute-hand {
  width: 4px;
  height: 60px;
  z-index: 2;
}

.second-hand {
  width: 2px;
  height: 70px;
  background-color: red;
  z-index: 1;
}

.center-circle {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

/* Estilos para los números de temperatura */
.temperature-number-north,
.temperature-number-west,
.temperature-number-south,
.temperature-number-east {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
}

.temperature-number-north {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.temperature-number-west {
  top: 50%;
  left: 5%; /* Ajusta el valor izquierdo para separarlos más del borde */
  transform: translateY(-50%);
}

.temperature-number-south {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.temperature-number-east {
  top: 50%;
  right: 5%; /* Ajusta el valor derecho para separarlos más del borde */
  transform: translateY(-50%);
}

.bottom-left {
  padding: 20px;
}



.humidity-value {
  font-size: 24px; /* Tamaño de fuente más grande */
  background: linear-gradient(to right, #00bfff, #87cefa); /* Color degradado de cielo */
  -webkit-background-clip: text; /* Hace que el color de fondo degradado aplique al texto */
  color: transparent; /* Hace que el texto sea transparente */
}

.leaflet-container {
  height: 50vh;
}

/* Estilo para el select personalizado */
.custom-select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para las opciones */
.custom-select option {
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

/* Estilo cuando se selecciona una opción */
.custom-select option:checked {
  background-color: #007bff;
  color: #fff;
}

.alert {
  margin-bottom: 1.429rem;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #FFF
}

.alert.alert-danger {
  background-color: #ef1c1c;
  border-color: #EF5350
}

.combo-select {
}

.route-info{
  display: flex;
}
